body {
    background-color: #F5F8FA;
}

.ChartDiv {
    width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-top: 3px solid;
    border-color: #425179;
}

.FooterDiv {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #e2e6e9;
    border-top: 3px solid;
    border-color: #ffffff;
}